@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

.editor {
  width: 100%;
  height: 80%;
}
.preview {
  background-color: #ffffff;
  max-width: 100%;
  height: 80%;
  word-wrap: break-word;
  overflow: auto;
}
.window {
  margin-top: 5px;
}
.card-header {
  background-color: #dddddd;
}
@media only screen and (max-width: 768px) {
  .small {
    display: flex;
    flex-direction: column;
  }
  .window {
    width: 100%;
  }
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
}

::-webkit-scrollbar-thumb {
  background: rgb(161, 161, 161);
}
